@font-face {
  font-family: 'Carattere';
  src: url(/carattere.ttf) format('truetype');
}

@font-face {
  font-family: 'Archivo';
  src: url(/archivo.ttf) format('truetype');
}

.map-container {
  height: 100%;
  width: 100%;
}
